extends layout
block extraHeader
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  script(type='text/javascript', src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(type='text/javascript', src='/javascripts/nursing_home.js')
  script(type='text/javascript', src='/javascripts/functions.js')
  script(type='text/javascript', src='/javascripts/measure_ratings.js')
  script(type='text/javascript', src='/javascripts/illinois_measure_avgs.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script.
    $(document).ready(function(){
      Window.map = L.map('map').setView([41.8819, -87.6278], 9);
       var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
       var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>contributors';
       var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});
       Window.map.addLayer(osm);
    });
block content
    div#header
    div#layout
     div#loginlayout
      #login-container
        div#login-form.well.span3
            p.subheading Login To Your Account
            p1 </br>
            input(type="text", class='span3 form-control', name="user",placeholder='username' id='user').span4.required
            p1 </br>
            input(type="password", class='span3 form-control',  name="pass",  placeholder='password' id='pass').span4.required
            p1 </br>
            button(type="submit" onclick="login_addrcheck();")#btn-login.btn.btn-primary
                i.icon-lock.icon-white
                | Sign in
            div.clear-fix
            hr
            div.btm-links
                a(href='#')#forgot-password Forgot Your Password?
                </br>
                a(href='/signup')#create-account Create An Account
     div#map             
