extends layout
block extraHeader
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
  script(type='text/javascript', src='/javascripts/nursing_home.js')
  script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
  script.
    $(document).ready(function(){
      sdk = new CitySDK();
      census = sdk.modules.census;
      census.enable(census_sdk_key);
      Window.map = L.map('map').setView([41.8819, -87.6278], 9);
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});
      Window.map.addLayer(osm);

    });
block content
  div#map
  h1= title
  p Welcome to #{title}
  p 
    input(type="text" id="address_search" value="enter address or zip code") 
    button#geo_search(onClick="address_search_click()") Search
  p Street  
    input(type="text" id="street")
  p City  
    input(type="text" id="city")
  p State  
    input(type="text" id="state")
  button#geocode(onClick="callCensusGeocode()") Geocode address
  pre#output 
