extends layout
block extraHeader
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  script(type='text/javascript', src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(type='text/javascript', src='/javascripts/nursing_home.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script.
    $(document).ready(function(){
      Window.map = L.map('map').setView([41.8819, -87.6278], 9);
      var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});
      Window.map.addLayer(osm);
    });
block content
  div(class='navbar' style ="background-color=#eee;")
   h1= title
   p Welcome to #{title}
  div#map
  div#well-lg(style=" width: 300px; height :300px; color=gainsboro; ")
   //form(action='address_search_click()',method='get')
   div(data-role='fieldcontain', class='form-group')
      fieldset(data-role='controlgroup')
        label(for='Name') Name
        input(id='Name',type='text',class='form-control',value='',placeholder='Enter your name: ',name='Name')
   div(data-role='fieldcontain', class='form-group')
      fieldset(data-role='controlgroup')
        //label(for='Email-id') Name
        input(id='Email-id',type='text',class='form-control',value='',placeholder='Enter your E-mail: ',name='Email:')
   div(data-role='fieldcontain', class='form-group')
      fieldset(data-role='controlgroup')
        label(for='Locality') Locality where you wanted to search:
        input(id='Address',type='text',class='form-control',value='',placeholder='Enter your Address/Zipcode ',name='Zipcode')    
        input(type='submit',value='Search',data-transition='fade', class='btn btn-default' data-theme='c', onCLick='address_search_click()')
        //button#geo_search(onClick="address_search_click()") Search
  div#results(class = "list-group"  style="width: 300px; height: 300px; bottom:  350px; left: 900px;  position: relative; color=gainsboro; appearance: window; overflow-y:scroll;")
   
 
