extends layout
block extraHeader
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css')
  script(type='text/javascript', src='/javascripts/nursing_home.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script.
    $(document).ready(function(){
      Window.map = L.map('map').setView([41.8819, -87.6278], 9);
      var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});
      Window.map.addLayer(osm);

    });
block content
  h1= title
  p Welcome to #{title}
  div#map
  div#search
    p
      input(type="text" id="address_search" value="enter address or zip code")
      button#geo_search(onClick="address_search_click()") Search
    p Street
      input(type="text" id="street")
    p City
      input(type="text" id="city")
    p State
      input(type="text" id="state")
    button#geocode(onClick="callGeocode()") Geocode address
  div#results
    table#resultsTable
  pre#output
