doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(type='text/javascript', src='https://cdn.rawgit.com/uscensusbureau/citysdk/Release0.7/js/citysdk.js')
		script(type='text/javascript', src='javascripts/citysdk.census.js')
		block extraHeader
	body
		block content
