body {
  padding: 50px;
 // background-image: url("background.jpg");
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0,0,0,0.5);
}

a {
  color: #00B7FF;
}

#map { height: 300px; 
		width: 500px; 
	//visibility: hidden;
		/*position:absolute;*/
        float:right;
		right:350px;
		bottom:50px;
		padding-right =500px;

		/*top:24px;*/
		/*padding: 10px;*/
	}

dl dt {
	float:left;
	font-weight: bold;

}

#address_search { width: 350px;}
#geo_search{margin-left:6px;}