body {
  padding: 50px;
  background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,1)),
                    url("background.jpg");
  background-size: 100% auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}



a {
  color: #00B7FF;
}

#map { height: 300px; 
		width: 500px; 
	//visibility: hidden;
		/*position:absolute;*/
        float:right;
		right:350px;
		bottom:50px;
		padding-right =500px;

		/*top:24px;*/
		/*padding: 10px;*/
	}

dl dt {
	float:left;
	font-weight: bold;

}

#address_search { width: 350px;}
#geo_search{margin-left:6px;}